<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Practice Test suite" parallel="methods" thread-count="8" verbose="1">
  <test name="UI Automation Test">
	  
	  <parameter name="browser" value="${browser}"></parameter>       
	  <parameter name="islambdaTest" value="${islambdaTest}"></parameter>
	  <parameter name="isHeadless" value="${isHeadless}"></parameter>
	  
    <classes>
		<class name="com.ui.tests.LoginTests"/>
		<class name="com.ui.tests.InvalidCredLoginTest"/>
		<class name="com.ui.tests.AddNewFirstAddressTest"/>
		<class name="com.ui.tests.searchProductTest"/>
		<class name="com.ui.tests.ProductCheckoutTest"/>
		
    </classes>
  </test>
</suite>